@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-anton: "Anton", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

.font-anton {
  font-family: var(--font-anton);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
